Django>=4.2
djangorestframework
psycopg2-binary
gunicorn
python-dotenv
requests
Pillow
djangorestframework-simplejwt
django-cors-headers
channels
django-fsm
holidays
stripe
django-otp
django-sendgrid-v5
django-rest-framework-simplejwt
django-cors-headers
django-fsm
django-sendgrid-v5
 